body {
    background-image: url(http://www.transparenttextures.com/patterns/black-linen.png);
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    font-size: 24px;
}

#main_container {
    padding-top: 130px;

}
.main_section{
    background: #fff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 650px;
    float: left;
 
}